<a href="https://colab.research.google.com/github/qazalkz/phonebook/blob/main/mvc_phonebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

class Contacts:
  def __init__(self,name,number,email):
    self.name = name
    self.number = number
    self.email = email

  def check_name(self):
    self.valid_name = r'^[a-zA-z]+\s?[a-zA-z]+$'
      if (re.fullmatch(self.vaild_name, self.name)):
        return True
      except TypeError:        
        print('name type is not correct')


  def check_nummber(self): 
    if self.number.isnumeric():
        return True 
    except ValueError:
      print('number must be an integrt')


  def check_email(self):
    self.vaild_type = r'^[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}$'
    if (re.fullmatch(self.vaild_type, self.email)):
      return True
    except TypeError:
      print('email is not valid')   


  def __str__(self):
    return '{} number is {} and email is {}'.format(self.name, self.number, self.email)

In [ ]:
# sqlite Decorator

import sqlite3

def decorator(path):
  def decorat(func):
    def wrapper(*args, **kwargs):
      try:
        connect = sqlite3.connect(path)    
        cursor = connect.cursor()      
        result =func(cursor,*args, **kwargs)
        connect.commit()
      finally:
        connect.close()
      return result  
    return wrapper
  return decorat

In [ ]:
path = '/content/phonebook.db'

@decorator(path)
def create_table(cursor):
  return cursor.execute("""CREATE TABLE IF NOT EXISTS contacts_list (id INTEGER PRIMARY KEY AUTOINCREMENT,\
   name TEXT VARCHAR(40),number TEXT, email TEXT)""")
  

create_table()

In [ ]:

@decorator(path)
def insert(cursor,name, number, email): 
  return cursor.execute("""INSERT INTO contacts_list VALUES ( :id, :name, :number, :email)\
  """,{ 'id': None, "name":name, "number":number, "email":email})

#print(insert('ghhh','233322','g@l.m'))

@decorator(path)
def get_all(cursor):
  cursor.execute("""SELECT * FROM contacts_list  """)
  row = cursor.fetchall()
  return row

#get_all()

@decorator(path)
def delete(cursor, id): 
  return cursor.execute("""DELETE  FROM contacts_list WHERE id = :id \
                        """,{'id': id})
# print(get_all())
# delete(1)
# print(get_all())

@decorator(path)
def search_name(cursor,name="" ):  
  cursor.execute("""SELECT * FROM contacts_list WHERE   name = :name """,{'name':name})
  return cursor.fetchall()
  

@decorator(path)
def search_number(cursor,phoneNumber="" ):  
  cursor.execute("""SELECT * FROM contacts_list WHERE   number = :number """,\
                 {'number':phoneNumber})
  return cursor.fetchall()


@decorator(path)
def search_email(cursor,email=""):  
  cursor.execute("""SELECT * FROM contacts_list WHERE   email = :email """,\
                 {'email':email})
  return cursor.fetchall()


@decorator(path)
def update(cursor, searchId, name, phoneNumber, email):
    cursor.execute("""UPDATE contacts_list SET name = :name, number = :number, email= :email WHERE   id = :id """,\
                 {'id': searchId,'name': name, 'number': phoneNumber, 'email': email})


print(get_all())
#update(2 , 'javad', '0911','j@t.com')

[(2, 'javad', '0911', 'j@t.com'), (3, 'ghhh', '233322', 'g@l.m')]